
.body-wrapper {

  display: flex;
  min-height: 75vh;
  flex-direction: column;
  width: 100%;
}

.wrapper {

  margin-left: 30px;
  width: 80%;
}

.collection {

  width: 95%;
  margin-left: 10px;
}

.collection-item {

  height: 95px
}

#home-link {

  color: white;
}
  
h1 {

  font-family: 'Courier New';
}

h3 {

  font-size: 30%;
  font-weight: lighter;
}

.delete-btn {

	margin-right: 10px;
}

.comment-btn {

	margin-left: 25px;
  margin-top: -11px;
}

.save-btn {

  margin-top: -7px;
  border: black 1px solid;
  background-color: green;
}

.unsave-btn {

  margin-top: -7px;
  border: black 1px solid;
}

